.Weather {
  color: #9d9ea0;
  border: 1px solid #dadde1;
  margin: 30px auto;
  padding: 20px auto;
  border-radius: 4px;
  max-width: 800px;
}
.form-border {
  padding-top: 10px;
}
.btn-border {
  margin-top: 10px;
}
.btn {
  background-color: #d2d4d6;
  border: 1px solid #d2d4d6;
}
.btn:hover {
  background-color: #9d9ea0 !important;
  border: 1px solid #9d9ea0;
}
.search {
  margin: 10px auto;
}
.weather-image-temp {
  padding-left: 30px;
  padding-top: -10px;
}
.weather-image {
  margin-top: -35px;
  height: 64px;
  width: 64px;
}
.Weather .temp {
  padding-left: 10px;
  padding-top: 10px;
  font-size: 64px;
  font-weight: lighter;
}
.unit {
  font-size: 16px;
  position: relative;
  top: -34px;
  margin-left: 5px;
  line-height: 1;
}
.weather-info {
  text-align: left;
  padding-top: 7px;
}
ul {
  list-style: none;
}
.place-info {
  margin-top: 7px;
  text-align: right;
  padding-right: 30px;
}
